@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.container {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 0vh;
    margin-top: 30px;
}

.circular {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
	margin-left: 40px;
}


.greetings-container {
    width: 300px;
    height: 80px;
	margin-top: 30px;
    
    /* Center content */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    background: white;
    border-radius: 8px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#greetings {
    font-size: 5ch;
    color: #333;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

*, *:after, *:before {
	box-sizing: border-box;
}

.top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    border-radius: 50px;
}

.top li {
	float: left;
}

.top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.top-imgs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.top-imgs li {
	float: left;
}

.top-imgs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.pages-button {
	align-items: center;
	display: inline-block;
	text-decoration: none;
}

.pages-button img {
	width: 75px;
	height: 75px;
	transition: transform 0.2s;
}

.pages-button img:hover {
	transform: scale(1.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .gallery figure {
    margin: 0;
    text-align: center;
    width: 450px;
  }

  .gallery img:hover {
    transform: scale(1.05);
  }

  .gallery figcaption {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    padding: 5px;
  }

  .lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.205);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .lightbox img {
    max-width: 95%;
    max-height: 95%;
    border-radius: 10px;
    cursor: pointer;
  }